
html{
  font-size: 16px;
}

.header-background{
  background-color: #020f20 ; // #240803; // black;
  padding:0.4rem;
  display: block;
  margin-bottom: 5px;
  border-radius: 15px 15px 5px 5px;
}

.logo-text{
  color: #347f99;
  font-size: 2.5rem;
  font-style: italic;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light", "Helvetica Neue";
  text-decoration: overline;
}

.logo-text::first-letter{
  font-family: "Gill Sans Extrabold";
  font-weight: bold;
  font-size: 3rem;
  color: #093d44 ;
  background-color: #779634;
  font-style: normal;
}

.menu{
  text-align: center;
  background-color:  #071a33 ;
  padding-bottom: 1px;
}

.menu-item{
  display: inline;
  font-family:cursive;
  font-size: 1.1rem;
  padding-left: 1rem;
  padding-right: 1rem;


  /*+ptt new add  for transition effects */
  position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease;
  text-align: left;
  //background-color: orange;
  //left: 5px;
  //top: 5px;
  //height: 26px;
  color: white;
  //border-color: red;
  //font-family: sans-serif;
  /*font-size: 20px;*/
  text-decoration: none;
  //box-shadow: 2px 2px 1px green;
  padding: 2px 4px;
  border: solid 1px pink;
}

.menu-item:hover{
  background-color: #347f99;
  /*+ptt new transaction */
  position: relative;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  background-color:white;
  color:green;
  box-shadow: 2px 2px 1px orange;
}

.menu-item:active{
  background-color: blue;
  /*+ptt new transaction */
  position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  background-color:blue;
  //color:white;
  border-radius: 50%;
  color: rgb(0, 255, 255);

  //box-shadow: 2px 2px 1px orange;

}


body {
  background-color: #D5E3E5;
  background-blend-mode:color-burn;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.landing-image{
  width: 50%;
  display: block;
  margin: auto;
}

/*+ptt new nth-child selection */
.project-ith:nth-child(odd){
	width: 50%;
	background:  #ccddff;
}
.project-ith:nth-child(even){
	width: 50%;
	background: #99bbff ; /*#cce6ff;*/
}



.product{
  white-space: nowrap;
  list-style: none;
}

.product-image{
  width: 200px;
  height: 200px;
}

.content-body{
  color: #303235;
  background: #86a09f;
  border-radius: 5px 5px 15px 15px;
  padding-top: 0.5rem;
}

.content-title{
  color:   #292A27;
  margin-left: 1rem;
}

article > h4 {
  margin-left: 1rem;
}

article > p {
  margin-left: 1rem;
}

.indent-tab{
  margin-left: 60px;
}

.copyright{
  text-align: center;
  color: rgb(114, 127, 140)
}
