

html{
  font-size: 16px;
}

.header-background{
  background-color: #020f20 ; // #240803; // black;
  padding: 4px;
  display: block;
  margin-bottom: 5px;
  border-radius: 15px 15px 5px 5px;
}

.logo-text{
  color: #347f99;
  font-size: 2rem auto;
  font-style: italic;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light", "Helvetica Neue";
  text-decoration: overline;
}

.menu{
  text-align: center;
  background-color:  #071a33 ;
  padding-bottom: 1px;
}

nav > ul{
    //width:550px;
}

nav > ul > li{
  //font-size: 40x;
  display: inline;
  text-shadow: 5px;
  padding-left: 30px;
  padding-right: 10px;
  //width: 550px;
}

body {
  background-color: lightblue;
  background-blend-mode:color-burn;
}
p{
  padding-left: 15px;
  color: inherit;
}

article > h1 {
  color:   #073d4a    ; // #347f99;
  margin-left: 10px;
  //padding: 10px;
}

article > h4 {
  color:   #0d766a  ;
  margin-left: 10px;
  //padding: 10px;
}

/*
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
*/
article{
  background: #86a09f;
  border-radius: 5px 5px 15px 15px;
  //padding: 10px;
}

/*
article > nav {
  //margin-bottom: 5px;
  text-align: center;
  background-color:  #071a33 ;
  padding: 1px;
}
*/



footer{
  text-align: center;
}
